html, body {
    height: 100%;
}

body {
    overflow: hidden;
    overflow: overlay;
}

body * {
    font-family: Arial;
}

#charts-container {
    width: 100%;
    height: 680px;
}
#charts-container canvas.charts {

}

.lines-selector {
    border: 2px solid black;
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    border-radius: 30px;
    min-width: 100px;
    cursor: pointer;
}

.lines-selector .checkbox {
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 22px;
    color: #ffffff;
    padding: 8px;
    width: 16px;
    text-align: center;
}
.lines-selector .title {
    padding: 0 10px;
}


.charts-selector-wrapper {
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
}
.charts-selector-wrapper select {
    font-size: 22px;
    margin-left: 10px;
}

.theme-selector-wrapper {
    margin-top: 10px;
    text-align: center;
}
.theme-selector-wrapper button {
    font-size: 22px;
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
}
.theme-selector-wrapper button:active, .theme-selector-wrapper button:focus {
    outline: none;
}
